
body {
    height: inherit;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    text-align: center;
    padding: 2em;
}
.container {
    width: 70%;
    background-color: #e8efee;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(175, 175, 175);
    z-index: 0;
    margin: 0 auto;
    margin-bottom: 2em;
    
}
#messages {
     height: 70vh;
     width: inherit;
     overflow: scroll;
     overflow-x: hidden;
     background-color: white;
     
}

#message-form {
    background-color: white;
    height: 150px;
    margin-bottom: 15px;
    margin-top: 1rem;
    
}

textarea {
    height: 120px;
    width: 90%;
    border: none;
}
label {
    margin: 0;
    margin-left: 5px;
}

fieldset {
    border-bottom: 1px solid lightgrey;
}
ul {
    margin: 5px;
}
li {
    list-style: none;
    margin: 0;
}
div#modal {
    overflow: auto;
    position: absolute;
    top: 0;
    margin-top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(17, 17, 17, 0.657);
    padding-top: 3em;
    /* align-items: center;
    justify-content: center; */
}
form#modal-form {
    margin: 20px auto;
    width: 50%;
    background: #eee;
    padding: 2em;
    border-radius: 10px;
}
input#username {
    padding: 0.4em;
}
input#name-submit {
    padding: 0.2em;
}
div#modal > p {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    color: rgb(247, 247, 247);
}
.hidden {
    display: none;
}
#contacts {
    background: #fff;
    /* height: 100vh; */
    margin: 0;
    padding: 2em;
    padding-top: 0;
    /* width: 100px; */
    text-align: left;
    overflow: scroll;
    overflow-x: hidden;
}
#contacts>h2 {
    width: 100%;
    border-bottom: 1px solid #222;
}
#contacts-list {
    padding: 0;
}
#top {
    display: grid;
    grid-template-columns: 80% 20%;
}